* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  width: 900px;
  height: 200px;
  margin: 0 auto;
  overflow-y: scroll;
}

nav {
  display: block;
  position: fixed;
  top: -60px;
  background-color: #282828;
  width: 885px;
  transition: all 0.4s ease-out;
}

nav a {
  display: inline-block;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  background-color: lightsalmon;
  color: #282828;
}

.content {
  background-color: aliceblue;
  font-size: 18px;
  padding: 20px 20px 1500px;
}
